
.nav1{
    margin-top: 10px;
    height: 50px;
    box-sizing: border-box;
}
.nav2{
    margin-top: 30px;
    margin-bottom: 30px;
    width: 70%;
    /* box-sizing: border-box; */
  /* overflow:auto; */
}
span{
    width: 50%;
    color:aliceblue ;
    font-size: 20px;
    margin: 10PX;
    margin-left: 20%;
    padding: 5px;
}
#Add{
    width: 20%;
    margin: 10px;
    margin-left: 30%;
    box-sizing: border-box;
    /* width: 150px; */



}